.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#quantityContainer, #form, #quantityValue{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 5px 5px 5px 5px;
}

